# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://conda.anaconda.org/conda-forge/linux-64/arpack-3.5.0-blas_openblas_201.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/backports-1.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/blas-1.1-openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bzip2-1.0.6-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ca-certificates-2017.7.27.1-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/certifi-2017.7.27.1-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ctags-5.8-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/curl-7.52.1-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/decorator-4.1.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/enum34-1.1.6-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/get_terminal_size-1.0.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/glpk-4.62-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gmp-6.1.2-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/h5py-2.7.1-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/hdf5-1.8.18-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/icu-58.1-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipdb-0.10.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ipython-5.3.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ipython_genutils-0.2.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/json-c-0.12.1-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libgcc-5.2.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libgfortran-3.0.0-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libiconv-1.14-4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxml2-2.9.5-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lzo-2.09-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ncurses-5.9-10.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/nibabel-2.1.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numpy-1.13.3-py27_blas_openblas_200.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openblas-0.2.19-2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.0.2l-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pandas-0.20.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/path.py-10.3.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pathlib2-2.3.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pexpect-4.2.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pickleshare-0.7.4-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pip-9.0.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/prompt_toolkit-1.0.15-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/protobuf-3.3.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ptyprocess-0.5.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pydicom-0.9.9-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pygments-2.2.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/python-2.7.14-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-dateutil-2.6.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pytz-2017.2-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/readline-6.2-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scandir-1.5-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/scikit-learn-0.19.0-py27_blas_openblas_201.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/scipy-0.19.1-py27_blas_openblas_202.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/setuptools-36.3.0-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/shogun-6.0.0-py27_blas_openblas_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/shogun-cpp-6.0.0-blas_openblas_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/simplegeneric-0.8.1-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/six-1.11.0-py27_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/snappy-1.1.4-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sqlite-3.13.0-1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tk-8.5.19-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/traitlets-4.3.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/wcwidth-0.1.7-py27_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/wheel-0.30.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xz-5.2.3-0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zlib-1.2.8-3.tar.bz2
